<section id="todoapp">
  <header id="header">
    <h1>Cinder</h1>
    {{view Ember.TextField id="new-todo" placeholder="Ember.js TodoMVC on Rails"
           valueBinding="newTitle" action="createTodo"}}
  </header>
  {{#if length}}
    <section id="main">
      <ul id="todo-list">
        {{#each filteredTodos itemController="todo"}}
          <li {{bindAttr class="isCompleted:completed isEditing:editing"}}>
            {{#if isEditing}}
              {{view Cinder.EditTodoView todoBinding="this"}}
            {{else}}
              {{view Ember.Checkbox checkedBinding="isCompleted" class="toggle"}}
              <label {{action "editTodo" on="doubleClick"}}>{{title}}</label>
              <button {{action "removeTodo"}} class="destroy"></button>
            {{/if}}
            </li>
        {{/each}}
      </ul>
      {{view Ember.Checkbox id="toggle-all" checkedBinding="allAreDone"}}
    </section>
    <footer id="footer">
      <span id="todo-count">{{{remainingFormatted}}}</span>
      <ul id="filters">
        <li>
          {{#link-to 'todos.index' activeClass="selected"}}All{{/link-to}}
        </li>
        <li>
          {{#link-to 'todos.active' activeClass="selected"}}Active{{/link-to}}
        </li>
        <li>
          {{#link-to 'todos.completed' activeClass="selected"}}Completed{{/link-to}}
        </li>
      </ul>
      {{#if hasCompleted}}
        <button id="clear-completed" {{action "clearCompleted"}} {{bindAttr class="buttonClass:hidden"}}>
          Clear completed ({{completed}})
        </button>
      {{/if}}
    </footer>
  {{/if}}
</section>
